* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family:Georia,serif; */
    background: #ffffff;
    /* font-weight:bold; */
    /* font-size:15px; */
    /* color:#333;
    overflow: hidden; */
    -webkit-font-smoothing: antialiased;
}

.framework {
    /* height: 1000px; */
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 30px 30px 30px 30px;
    width: 90%;
    /* border-color: black; */
    /* border-width: 3px; */
    /* border-style: solid; */
    /* box-shadow: darkgrey 0px 0px 30px 5px ; */
}

/* *, *::before, *::after {
    box-sizing: border-box;
} */

#ToptitleFont {
    /* Garamond */
    font-family: Garamond;
    font-weight: bold;
}

#titleFont {
    /* Garamond */
    font-family: Garamond;
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    line-height: 1.5;
}

.public {
}

.public p{
    margin-bottom: 5px;
    line-height: 1.5;

}

.public .ptitle {
    font-weight: 700;
    font-size: 18px;
}

.public .pauthor {
    font-size: 16px;
    font-weight: 400;
}

.public .me {
    font-weight: 600;
    text-decoration: underline;
}
.public .pub {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.public .full {
    font-size: 16px;
    font-weight: 700;
    color: lightslategray;
}

/* #titleFont:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #54b689;
    position: absolute;
    left: 0;
    top: 0;
} */

.webPhoto {
    /* align-items: center; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webPhoto img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.sys {
    padding-right: 0px;
    /* display: table-cell; */
    align-items: center;
    vertical-align: middle;
    display: flex;

        vertical-align: middle;

        text-align: center;
}

.sys img {
    width: 100%;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0%, 50%); */
    /* margin: auto; */
}

img {
    /* display: table-cell; */
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.webPhoto .info {
    margin-top: 15px;
    text-align: center;
    line-height: 1.64;
}

.totalNews .newsTime {
    font-size: 14px;
}

/*chrome--------------------------------------------start*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 202);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 162, 163);
}

.el-menu::-webkit-scrollbar,
.el-table__body-wrapper::-webkit-scrollbar {
    display: none;
}

.el-menu:hover::-webkit-scrollbar,
.el-table__body-wrapper:hover::-webkit-scrollbar {
    display: block;
}

/*chrome--------------------------------------------end*/